{% extends "bugtrack/layout.html" %}
{% load static %}
{% block body %}


<div id='bugObjectDiv' data-bug = "{{bug}}", data-user="{{request.user.id}}", data-solver="{{bug.bugSolver.user.id}}">

    <div id='bugInfoDiv'>
       <h3> {{bug.id}}  {{bug.title}} </h3> 
       Posted by:<a href ="{% url 'profile' bug.poster.username %}">{{bug.poster}}</a> &nbsp;&nbsp;&nbsp;&nbsp; 
       {% if bug.bugSolver  %}
       Bug's Solver: <a href ="{% url 'profile' bug.bugSolver.user.username %}">{{bug.bugSolver.user.username}}</a> &nbsp;&nbsp;&nbsp;&nbsp; 
        <span id='statusDiv'> Current status: <span id='statusDivText'>{{bug.status}} </span></span>
        {% else %}
            Bug's Solver: None, become the bug's solver with the button above &nbsp;&nbsp;&nbsp;&nbsp; 
        <span id='statusDiv'> Current status: <span id='statusDivText'>{{bug.status}} </span></span>
        {% endif %}
       <p> <div class='bugDesc'> {{bug.description}} </div>   </p> 
      
    </div>

     <div id='solverButtonDiv'></div>

    <div id='ifNotFixedDiv'>

           <! <script> <!solverButton({{request.user.id}}) </script>

            <h6>A solution to this bug has been posted! Please read the solution and try it, if it works click the 'Bug solved!' button</h6>
            
            <div id='solutionDiv'></div>
            <script>solution({{bug.id}}, {{request.user.id}} ) </script> 
            <script> notSolution()</script>
            <p> </p>
        <div id='notSolvedDiv'>
         <form id="notSolvedForm"> 
            <div class="form-group">
                Post an update on this bug:<textarea id='notSolvedText' class="form-control", rows='3', cols='20'> </textarea>
                 <div class='form-group'>
                    <select id='updateStatusNotSolved' class='form-group' size='1'>
                        <option value = 'processing'>processing </option> <! set bug back to processing, need to notify bugsolver>
                        <option value = 'unclaimed'>unclaimed *This will reopen the bug for other uses to take!* </option>
                    </select>
                </div>
            </div>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
 
   </div> <! end of if not fixed div>
   
    <div id='updateDiv'>
       <form id="updateForm"> 
            <div class="form-group">
                Post an update on this bug:<textarea id='updateText' class="form-control", rows='3', cols='20'> </textarea>
                 <div class='form-group'>
                    <select id='updateStatus' class='form-group' size='1'>
                        <option value = 'processing'>processing </option>
                        <option value = 'solved'>solved </option>
                        <option value = 'unclaimed'>unclaimed *This will reopen the bug for other uses to take!* </option>
                    </select>
                </div>
            </div>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
       
 <div id='updateDiv' > </div> <! append updates to this div in js, outside of if because need to be able to post even if there were 0 updates>
    {% if updates %}
        {% for update in updates %}
            {% if update.status == 'solved' %}
                    <div class = 'solvedUpdate' id='updateDiv{{update.id}}'> <!solved update class will have green background, new update model has
                status field which is where .status comes from>
            {% else %}
                <div id='updateDiv{{update.id}}' class='updateClass'>
            {% endif %} 

                {{update.timestamp}} , {{update.text}}
              {% if update.comment %} <! would be nice to not have this div extend the whole length of the window>
             <div class='updateComment' id='commentDiv{{comment.id}}'> <p> The bugPoster commented on the solution: {{update.comment.text}} </p> </div>
                {% endif %}
</div>
        {% endfor %}
    {% endif %}

{% endblock%}
{% block script %}
{% if solver %}
    <script type="text/javascript">
    const solverJson = {{solver|safe}};
    </script>
{% endif %}
<script src="{% static 'bugtrack/bugPage.js' %}"></script> 
<script type="text/javascript">
    const bugJson = {{jsBug|safe}};
</script><!gets JSON data from views, allows bug json to be used in js >
{% endblock %}

