{% extends "bugtrack/layout.html" %}
{% load static %}

{% block body %}

<h2> {{user.username}}'s profile page </h2>
<! maybe do something similar to email's mailbox tabs to display these divs >
<p>Some info on user, problems posted, solved, current bugs solving / found </p>
<p> {{solvednum}} bugs solved, {{postednum}} bugs posted </p>

    <button class="btn btn-sm btn-outline-primary" id="current">Currently Solving</button>
    <button class="btn btn-sm btn-outline-primary" id="solved">Bugs Solved</button>
    <button class="btn btn-sm btn-outline-primary" id="posted">Posted Bugs</button>
    <button class="btn btn-sm btn-outline-primary" id="awaiting">Bugs Awaiting Solver</button>

<div id='awaitingBugsDiv'>
Bugs this user posted awaiting a solver:
{% for bug in current %}
 <p>  <a href ="{% url 'bugPage' bug.id %}">  {{bug.id}} {{bug.title}}  {{bug.location}} {{bug.priority}} {{bug.status}}</a> </p>
{% endfor %}
</div>
<div id='bugsUserSolvedDiv'>
bugs this user solved:
{% for bug in solved %}
 <p>  <a href ="{% url 'bugPage' bug.id %}">  {{bug.id}} {{bug.title}}  {{bug.location}} {{bug.priority}} {{bug.status}}</a> 
 solved by <a href="{% url 'profile' bug.bugSolver.user.username%}"> {{bug.bugSolver.user.username}} </a> </p>
{% endfor %}
</div>
<div id='bugsUserPostedDiv'>
bugs this user posted:
{% for bug in posted %}
 <p>  <a href ="{% url 'bugPage' bug.id %}">  {{bug.id}} {{bug.title}}  {{bug.location}} {{bug.priority}} {{bug.status}}</a> </p>
{% endfor %}
</div>
<div id='bugsCurrentlySolving'>
bugs this user is solving
{% for bug in solving %}
 <p>  <a href ="{% url 'bugPage' bug.id %}">  {{bug.id}} {{bug.title}}  {{bug.location}} {{bug.priority}} {{bug.status}}</a> </p>
{% endfor %}
</div>

{% endblock %}
{% block script %}
<script src="{% static 'bugtrack/profile.js' %}"></script>
{% endblock %}
